@import './../../styles/main.scss';

.about {
  &__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 128px;
  }

  &__texts {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 72px;
  }

  &__text {
    align-self: center;
    @extend %h2;
    width: 947px;
    text-align: center;
  }

  &__circles {
    display: flex;
    gap: 24px;
  }

  &__circle {
    width: 280px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: $color-orange;
    border: 4px solid $color-white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    &__bigger-text {
      @extend %h2;
    }

    &__smaller-text {
      @extend %secondary-text-regular;
    }
  }

  &__team {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 16px;
    column-gap: 24px;

    &__card {
      height: 481px;
      width: 324px;
      border-radius: 16px;
      background-color: $color-white;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;

      &:nth-child(1) {
        grid-column: 2;
      }
      &:nth-child(2) {
        grid-column: span 2;
      }
    }

    &__img {
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      padding-top: 4px;
      width: 316px;
      height: 386px;
      object-fit: cover;
    }

    &__text {
      align-self: start;
      padding-inline: 16px;
    }

    &__name {
      @extend %h5;
      color: $color-black;
    }

    &__position {
      @extend %button-text-regular;
      color: $color-middle-grey;
    }
  }

  &__help {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1344px;
    height: 240px;
    border-radius: 40px;
    background-color: $color-warm-yellow;

    &__item {
      margin-inline: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 104px;
      width: 1280px;

      &:first-child {
        border-bottom: 0.7px solid $color-dark-grey;
      }
    }

    &__text {
      align-self: center;
      @extend %h4;
      color: $color-black;
    }
  }
}
