@import './../../styles/main.scss';

.navbar {
  display: flex;
  gap: 8px;
  height: 100%;
  align-items: center;

  &__link {
    @extend %button-text-medium;
    color: $color-dark-grey;
    padding-inline: 16px;
    height: 100%;
    display: flex;
    align-items: center;

    &:hover {
      color: $color-orange;
    }

    &--active {
      color: $color-orange;
      border-bottom: 3px solid $color-orange;
    }
  }

  &__about {
    cursor: pointer;
    padding-inline: 16px;
    display: flex;
    gap: 4px;
    align-items: center;

    &:hover {
      .navbar__about__text {
        color: $color-orange;
      }

      .navbar__about__icon {
        color: $color-orange;
      }
    }

    &--active {
      .navbar__about__text {
        color: $color-orange;
      }

      .navbar__about__icon {
        color: $color-orange;
        transform: rotate(180deg);
      }
    }

    &__text {
      @extend %button-text-medium;
      color: $color-dark-grey;

      &--active {
        color: $color-orange;
      }
    }

    &__icon {
      color: $color-black;
      transition: transform 0.3s ease;
    }
  }
}