@import './../../styles/main.scss';

.loader {
  position: fixed;
  bottom: 0;
  height: calc(100vh - 100px);
  left: 0;
  right: 0;
  color: $color-primary-green;
  background-color: $color-primary-green;
  display: flex;
  align-items: center;

  img {
    position: absolute;
    width: 300px;
    height: 300px;
    left: -70px;
    object-fit: cover;
    animation: move 4s linear infinite;
  }
}

@keyframes move {
  from {
    transform: translateX(-10px);
  }
  to {
    transform: translateX(101vw);
  }
}