@import './../../styles/main.scss';

.game-promo {
  display: flex;
  flex-direction: column;
  gap: 56px;
  justify-content: center;
  align-items: center;

  &__photos {
    display: flex;
    justify-content: center;
    gap: 56px;
    width: 824px;
    height: 384px;
    margin-inline: auto;
  }

    &__img {
      border-radius: 50%;
      border: 5px solid $color-white;
      height: 384px;
      width: 384px;
      object-fit: cover;
    }

    &__button {
      align-self: center;
    }
}