@import "./../../styles/main.scss";

.form {
  position: fixed;
  width: 598px;
  height: 428px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 24px;
  background-color: $color-white;
  padding: 24px;
  color: $color-middle-grey;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 32px;
    border-bottom: 0.7px solid $color-smoke-grey;
    align-items: start;
  }

  &__title {
    @extend %main-text-medium;
    color: $color-black;
  }

  &__text {
    height: 22px;
    @extend %button-text-regular;
    margin-bottom: 8px;
  }

  &__content {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 32px;

    &__top {
      display: flex;
      gap: 16px;
      height: 99px;
    }

    &__item {
      display: flex;
      flex-direction: column;
      width: 267px;
      height: 100%;
      position: relative;
    }

    &__big-item {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 127px;
      position: relative;
    }

    &__input {
      padding-inline: 16px;
      @extend %button-text-regular;
      width: 100%;
      height: 44px;
      border-radius: 8px;
      border: 1px solid $color-middle-grey;

      &--danger {
        border: 1.2px solid $color-error;
      }

      &--success {
        border: 1.2px solid $color-success;
      }

      &--focus {
        outline: none;
        border: 1px solid $color-black;
      }

      &:focus {
        outline: none;
        border: 1px solid $color-black;
      }
    }

    &__input-phone {
      outline: none;
      border: none;
      height: 100%;
      @extend %button-text-regular;
    }

    &__textarea {
      width: 100%;
      height: 72px;
      border-radius: 8px;
      @extend %button-text-regular;
      padding-inline: 16px;

      &--danger {
        border: 1.2px solid $color-error;
      }

      &--success {
        border: 1.2px solid $color-success;
      }

      &:focus {
        outline: none;
        border: 1px solid $color-black;
      }
    }

    &__error {
      @extend %secondary-text-regular;
      color: $color-error;
      margin-top: 4px;
    }
  }

  &__icon {
    width: 18px;
    height: 18px;
    background-size: cover;
    position: absolute;
    right: 16px;
    top: 43px;

    &--success {
      background-image: url("./../../../public/img/icons/success.svg");
    }

    &--danger {
      background-image: url("./../../../public/img/icons/danger.svg");
    }
  }

  &__counter {
    margin-top: 4px;
    @extend %secondary-text-regular;
  }

  &__success {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 33px;
    height: 100%;

    &__content {
      margin-top: 8px;
      height: 199px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 8px;
    }

    &__done {
      background-image: url("./../../../public/img/icons/formSuccess.svg");
      width: 72px;
      height: 72px;
      background-size: cover;
    }

    &__title {
      width: 403px;
      text-align: center;
      @extend %h6;
      color: $color-black;
    }

    &__text {
      @extend %main-text-medium;
      text-align: center;
    }
  }
}

.form__content__big-item--focus .form__text {
  color: $color-black;
}

.form__content__item--focus .form__text {
  color: $color-black;
}
