@import './../../styles/main.scss';

.big-sections-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 61px;
  margin-bottom: 72px;

  &__paws {
    width: 813px;
    height: 61px;
    background-image: url('../../../public/img/bigPaws.svg');
    background-position: center;
    background-repeat: no-repeat;
  }

  &__text {
    @extend %h4;
  }
}