%h1 {
  font-family: 'Mariupol-Bold', sans-serif;
  font-size: 72px;
  line-height: 105%;
  letter-spacing: 0;
}

%h2 {
  font-family: 'Mariupol-Bold', sans-serif;
  font-size: 64px;
  line-height: 110%;
  letter-spacing: 0;
}

%h3 {
  font-family: 'Mariupol-Bold', sans-serif;
  font-size: 56px;
  line-height: 110%;
  letter-spacing: 0;
}

%h4 {
  font-family: 'Mariupol-Bold', sans-serif;
  font-size: 44px;
  line-height: 120%;
  letter-spacing: 0;
}

%h5 {
  font-family: 'Mariupol-Medium', sans-serif;
  font-size: 24px;
  line-height: 135%;
  letter-spacing: 0;
}

%h6 {
  font-family: 'Mariupol-Bold', sans-serif;
  font-size: 38px;
  line-height: 110%;
  letter-spacing: 0;
}

%main-text-regular {
  font-family: 'Mariupol-Regular', sans-serif;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0;
}

%main-text-medium {
  font-family: 'Mariupol-Medium', sans-serif;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0;
}

%secondary-text-medium {
  font-family: 'Mariupol-Medium', sans-serif;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0;
}

%secondary-text-regular {
  font-family: 'Mariupol-Regular', sans-serif;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0;
}

%button-text-regular {
  font-family: 'Mariupol-Regular', sans-serif;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0;
}

%button-text-medium {
  font-family: 'Mariupol-Medium', sans-serif;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0;
}

%smallButton {
  cursor: pointer;
  padding: 0;
  width: 81px;
  height: 40px;
  border-radius: 100px;
  background-color: $color-light-orange;
  border: none;
  color: $color-orange;

  &:hover {
    background-color: $color-white;
    border: 1px solid $color-orange;
  }
}