@font-face {
  font-family: Mariupol-Bold;
  src: url('../../../public/fonts/Mariupol-Bold.ttf')format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: Mariupol-Regular;
  src: url('../../../public/fonts/Mariupol-Regular.ttf')format('truetype');
  font-style: normal;
}

@font-face {
  font-family: Mariupol-Medium;
  src: url('../../../public/fonts/Mariupol-Medium.ttf')format('truetype');
  font-style: normal;
  font-weight: normal;
}