@mixin on-desktop {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin on-tablet {
  @media (max-width: 1199px) {
    @content;
  }
}

@mixin on-mobile {
  @media (max-width: 639px) {
    @content;
  }
}

@mixin page-grid {
  display: grid;

  --columns: 24;
  --column-gap: 16px;

  grid-template-columns: repeat(var(--columns), 1fr);
  grid-gap: 0 var(--column-gap);

  @include on-tablet {
    --columns: 12;
  }

  @include on-mobile {
    columns: 4;
  }
}

@keyframes colorChange {
  0% {
    color: $color-warm-yellow;
  }
  33% {
    color: $color-orange;
  }
  66% {
    color: $color-primary-green;
  }
  100% {
    color: $color-warm-yellow;
  }
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
};