$color-orange: #ff5631;
$color-orange-hover: #ff7658;
$color-ruby-red: #ef404b;
$color-primary-green: #54b876;
$color-warm-yellow: #ffd951;
$color-light-yellow: #fff9e3;
$color-light-orange: #ffe6db;

$color-black: #1b1c22;
$color-dark-grey: #3e414e;
$color-middle-grey: #62656F;
$color-grey: #9b9da4;
$color-light-grey: #e7e7eb;
$color-white: #fcfcfc;

$color-error: #f0440e;
$color-info: #0b4ed0;
$color-warning-yellow: #ffd600;
$color-success: #27cf6a;
