@import './styles/main.scss';

.App {
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
  background-color: $color-white;
}

.main-wrapper {
  background-color: $color-primary-green;
  border-bottom-left-radius: 48px;
  border-bottom-right-radius: 48px;
  overflow: hidden;
  min-height: calc(100vh - 331px);
}

.container {
  position: relative;
  padding: 0 48px;
  margin: 0 auto;
  z-index: 1;
}