.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: $color-orange;
  color: $color-white;
  @extend %h5;
  border-radius: 100px;
  border: none;
  cursor: pointer;

  &-small {
    width: 81px;
    height: 40px;
    @extend %button-text-medium;
  }

  &-medium {
    width: 321px;
    height: 56px;
  }

  &-large {
    width: 434px;
    height: 64px;
  }

  &-big {
    width: 662px;
    height: 72px;
  }

  &-help {
    width: 295px;
    height: 56px;
  }

  &-donate {
    width: 188px;
    height: 46px;
    background-color: $color-white;
    color: $color-black;
    border: 1px solid $color-black;
    @extend %button-text-regular;

    &:hover {
      border: 1px solid $color-orange;
      color: $color-orange;
    }
  }

  &-continue {
    width: 614px;
    height: 72px;
  }
}