@import '../../styles/main.scss';

.sections-header {
  display: flex;
  flex-direction: column;
  gap: 32px;

  &__paws {
    height: 61px;
    background-image: url('../../../public/img/pawsLine.svg');
    background-position: center;
    background-repeat: no-repeat;
  }

  &__text {
    @extend %h1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}